{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/footer.css' %}">

{% endblock custom_css %}

{% block content %}

<div class="footer_fon">
    <div class="row footer">
        <div class="logo_footer">
            <a href="{% url 'home' %}">
                <p>Отделение</p>
                <h1>Гинекологии</h1>
            </a>
            <a href="http://sob.belzdrav.ru">
                <p>Старооскольской окружной больницы</p>
                <h1>Святителя Луки Крымского</h1>
            </a>
        </div>
        <div class="chapters_footer">
            <h1>Разделы</h1>
            <a href="{% url 'services' %}#diagnostica_button"><p>Диагностика</p></a>
            <a href="{% url 'services' %}"><p>Услуги</p></a>
            <!-- <a href="{% url 'paid_services' %}"><p>Платные услуги</p></a> -->
        </div>
        <div class="information_footer">
            <h1>Информация</h1>
            <a href="{% url 'for_clients' %}"><p>Пациентам</p></a>
            <a href="{% url 'department' %}"><p>Об отделении</p></a>
            <a href="{% url 'doctors' %}"><p>Наши врачи</p></a>
            <a href="{% url 'hospital' %}"><p>О больнице</p></a>
            <!-- <a href="{% url 'questions_and_answers' %}"><p>Вопросы и ответы</p></a> -->
            <a href="{% url 'privacy_policy' %}"><p>Политика конфиденциальности</p></a>
        </div>
        <div class="contact_footer">
            <h1>Адрес</h1>
            <p>г. Старый Оскол, ул. Ублинские горы, 1а</p>
            <h1>E-Mail</h1>
            <a href="mailto:health@staryoskol.ru">
                <p>health@staryoskol.ru</p>
            </a>
            <h1>Телефон</h1>
            <div class="footer_phone">
                <a href="tel:+74725414992">
                    <div style="width: fit-content; height: fit-content;cursor: pointer;">
                        <p> + 7 (4725) 41-49-92</p>
                    </div>
                </a>
            </div>
            <h1>Время работы</h1>
            <p>круглосуточно</p>
        </div>
    </div>
</div>


{% endblock %}