{% extends 'main_template.html' %}
{% load static %}

{% block custom_css %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/modal.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/owl.carousel.min.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/owl.theme.default.min.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/gallery.css' %}">

{% endblock custom_css %}
{% block title %}
Гинекология Старого Оскола
{% endblock title %}
{% block content %}
<div class="wrapper">
    <div class="top_content_div">
        <img class="top_img_content" src="{% static 'png/top_content4.png' %}">
    </div>
    <div class="row top_content">
        <p style="color:#2D3F50; margin: 0; line-height: normal;">Полноценное</p>
        <p style="color:#00CCFF;">лечение</p>
        <p class="regular">продолжайте свое лечение <br>
            в нашей областной клинике <br>
            <b>до полного восстановления</b></p>
        <a class="recall_button big_pink_button" id="recall_button2"><b>ЗАПИСАТЬСЯ</b><br>НА ПРИЁМ</a>
    </div>
    <div class="column icon_content">
        <div class="icon_card">
            <img class="img_nav" src="{% static 'svg/01 icon.svg' %}">
            <p class="icon_text">БЕСПЛАТНО<br>ПО ОМС</p>
        </div>
        <div class="icon_card">
            <img class="img_nav" src="{% static 'svg/02 icon.svg' %}">
            <p class="icon_text">ДЛЯ ИНОГОРОДНИХ<br>ГРАЖДАН</p>
        </div>
        <div class="icon_card">
            <img class="img_nav" src="{% static 'svg/03 icon.svg' %}">
            <p class="icon_text">ОНЛАЙН<br>КОНСУЛЬТАЦИЯ</p>
        </div>
        <div class="icon_card">
            <img class="img_nav" src="{% static 'svg/04 icon.svg' %}">
            <p class="icon_text">РАБОТАЕМ<br>КРУГЛОСУТОЧНО</p>
        </div>
        <div class="blue_blur_div">
            <img class="blue_blur" src="{% static 'png/blue_blur.png' %}">
        </div>
    </div>
    <div class="hello_content">
        <div class="img_hello">
            <div class="img_hello_content">
                <img class="img_nav" src="{% static 'png/hello.png' %}">
                <div class="row must_bring">
                    <div class="img_hello_text">
                        <p class="text22px">Помните,</p>
                        <p class="text13px">для посещения врача<br>
                            необходим <b>полис ОМС,</b><br>
                            <b>паспорт РФ</b> и <b>СНИЛС</b></p>
                    </div>
                    <img class="img_nav img_hello_img" src="{% static 'png/doc_hello.png' %}">
                </div>
            </div>
        </div>
        <div class="text_hello">
            <p class="text_hello_main" style="color: #00CCFF;">Добро пожаловать в</p>
            <p class="text_hello_main" style="color: #2D3F50;">отделение Гинекологии</p>
            <p class="text_hello_second">В Старом Осколе находится одно из самых <br>
                крупных отделений гинекологии в Черноземье,<br>
                которое занимается лечением заболеваний<br>
                с фокусом на женском здоровье.<br>
                <br>
                Здесь работают высококвалифицированные<br>
                врачи, которые прошли специальное<br>
                обучение и имеют многолетний <br>
                практический опыт.</p>
            <div class="pink_border_button">
                <a href="{% url 'department' %}">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="uslugi_content row">
        <div class="img_uslugi_div">
            <img class="img_uslugi" src="{% static 'svg/uslugi_fon.svg' %}">
        </div>
        <div class="uslugi_head_content">
            <p>Наши услуги</p>
            <div class="div_for_uslugi_content">
                <div class="pink_border_button" id="diagnostika_mini_button">
                    <a>Диагностика</a>
                </div>
                <div class="pink_border_button" id="consultation_mini_button">
                    <a>Консультации</a>
                </div>
                <div class="pink_border_button" id="surgeon_mini_button">
                    <a>Гинекологические операции</a>
                </div>
                <div class="pink_border_button" id="help_clients_button">
                    <a>Сопровождение клиента</a>
                </div>
                <div class="pink_border_button" id="stationary_mini_button">
                    <a>Услуги стационара</a>
                </div>
                <div class="pink_border_button" id="emergency_help_mini_button">
                    <a>Экстренная хирургическая помощь</a>
                </div>
                <div class="pink_border_button" id="another_clients_mini_button">
                    <a>Для иногородних пациентов</a>
                </div>
                <!-- <div class="pink_border_button" id="paid_services_mini_button">
                    <a>Платные услуги</a>
                </div> -->
            </div>
        </div>
        <div class="pink_blur_div">
            <img class="pink_blur" src="{% static 'png/pink_blur.png' %}" style="position: relative;">
        </div>
            
        <div class="uslugi_text_content">
            <div class="inner_uslugi_text_content" id="diagnostika_mini">
                <h1>Диагностика</h1>
                <p>
                    В гинекологии диагностика включает в себя ряд <br>
                    методов, которые позволяют выявить причину <br>
                    заболевания и назначить лечение. Диагностика <br>
                    проводится при помощи следующих методов:<br>
                    <br>
                    <b>1. Лабораторная диагностика, включающая в<br>
                    себя следующие методы:</b><br>
                    - общий анализ крови;<br>
                    - мазок на флору;<br>
                    - анализ на вирусные инфекции;<br>
                    <b>2. Инструментальная диагностика.</b><br>
                    При этом используются такие методы как:<br>
                    - ультразвуковое исследование<br>
                    - гистероскопия<br>
                    <b>3. Эндоскопическая диагностика</b><br>
                    <b>4. Рентгенологическая диагностика</b><br>
                    <div class="pink_border_button">
                        <a href="{% url 'services' %}#diagnostica_button">Подробнее</a>
                    </div>
                </p>
            </div>
            <div class="inner_uslugi_text_content" id="consultation_mini">
                <h1>Консультации</h1>
                <p>
                    <b>Консультация гинеколога</b> — одна из главных <br>
                    процедур, необходимая каждой женщине, чтобы<br>
                    распознать заболевание и назначить лечение.<br>
                    <br>
                    В зависимости от причины визита к врачу <br>
                    бывает <b>первичная и вторичная консультация</b><br>
                    гинеколога. Сначала выясняется <b>предварительный<br>
                    диагноз </b>исходя из осмотра и имеющихся жалоб,<br>
                    далее назначаются дополнительные методы <br>
                    обследования и лечение. <br>
                    Во время <b>вторичного приема </b>полученные <br>
                    результаты обследования помогают узнать <br>
                    диагноз, и по необходимости <br> 
                    в лечение вносятся коррективы.
                    <div class="pink_border_button">
                        <a href="{% url 'services' %}#consultation_button">Подробнее</a>
                    </div>
                </p>
            </div>
            <div class="inner_uslugi_text_content" id="surgeon_mini">
                <h1>Гинекологические операции</h1>
                <p>
                    В нашем отделение гинекологии проводят <br>
                    хирургическое лечение <b>любой сложности.</b> <br>
                    Мы проводим как <b>полостные</b>, <br>
                    так и <b>лапароскопические операции </b>– <br>
                    которые сокращают реабилитационный период.
                    <br>
                    Также операции могут быть не только лечебного,<br>
                     но и диагностического свойста, другими словами<br>
                     используются вместе с проводимой <br>медикаментозной
                     терапией.<br>
                </p>
                <p>
                    Благодаря <b>хирургическим операциям</b> можно<br> вылечить 
                    также и те заболевания, <br>на протяжении веков 
                    приводившие<br> к большому проценту женской<br>
                    смертности.  Успешность подобных<br> операций
                    тесно связана с качеством<br> врачей и 
                    технического оснащения <br>медицинского отделения.
                </p>
                    <div class="pink_border_button">
                        <a href="{% url 'services' %}#gynecology_operation_button">Подробнее</a>
                    </div>
                </p>
            </div>
            <div class="inner_uslugi_text_content" id="help_clients_mini">
                <h1>Сопровождение клиента</h1>
                <p>
                    Сопровождение клиента включает в себя ряд<br>
                    услуг, в числе которых и <b>круглосуточное</b><br>
                    нахождение медицинской сестры возле<br>
                    пациентки, <b>контроль за приемом лекарств<br>
                    гигиенические процедуры и кормление</b><br>
                </p>
                <p>
                    <b>Профессионализм</b> врачебно-сестринского<br> состава,
                    <b>индивидуальный подход</b> при <br>амбулаторном приеме
                    и в реабилитационный<br> период,
                    <b>высокотехнологичное <br>оборудование и передовые
                    методики <br>взаимодействия с пациентом</b> <br>являются
                    главными <br>инструментами эффективного лечения<br>
                    пациенток нашего отделения.
                    <div class="pink_border_button">
                        <a href="{% url 'services' %}#soprovogdenie_button">Подробнее</a>
                    </div>
                </p>
            </div>
            <div class="inner_uslugi_text_content" id="stationary_mini">
                <h1>Услуги стационара</h1>
                <p>
                    Если вам пришлось попасть в наш стационар,<br>
                     то вы сможете поддерживать свой <b>привычный комфорт.</b><br>
                      Вы сможете получить качественную медицинскую<br>
                    помощь и <b>безопасное лечение</b>.<br>
                    В нашем многопрофильном стационаре работают<br>
                     с лечением заболеваний как <b>терапевтического</b> <br>
                     так и <b>хирургического профиля</b>.<br>
                    В течение первых дней мы выполним всё<br>
                    необходимое, включая даже <b>выходные и <br>
                    праздничные дни</b>. <br>
                    Для точного днагноза мы подберем самые <br>
                    <b>современные методы диагностики<br>
                     и лечения</b>. <br>
                    Мы следуем всем стандартам <br>
                    обследования и лечения
                    <div class="pink_border_button">
                        <a href="{% url 'services' %}#stationary_button">Подробнее</a>
                    </div>
                </p>
            </div>
            <div class="inner_uslugi_text_content" id="emergency_help_mini">
                <h1>Экстренная помощь</h1>
                <p>
                    Лечение заболеваний оперативным путем <br>
                    <b>не требует отлагательств</b>. Ведь иначе<br>
                    произойдет настоящая угроза для жизни.<br>
                    <b>Профессиональный хирургический состав</b><br>
                    по оказанию неотложной хирургической<br>
                    помощи, дежурит в отделении <b>круглосуточно</b><br>
                    и без выходных.<br>
                    Также мы имеем диагностическое отделение с<br>
                    <b>необходимым оборудованием</b> для возможности<br>
                    круглосуточно работать над выяснением<br>
                    <b>точного диагноза</b>, определения объема<br>
                    нужного вмешательства и подготовки<br>
                     к операции в самые ранние сроки.
                    <div class="pink_border_button">
                        <a href="{% url 'services' %}#very_help_button">Подробнее</a>
                    </div>
                </p>
            </div>
            <div class="inner_uslugi_text_content" id="another_clients_mini">
                <h1>Для иногородних пациентов</h1>
                <p>
                    В нашей гинекологии всегда <b>рады приезжим</b><br>
                    из других городов. Для госпитализации <br>
                    в отделение <b>иногородних пациентов</b> <br>
                    необходим <b>полис ОМС.</b><br>
                    <br>
                    Все виды помощи иногородним пациентам <br>
                    осуществляются в соответствии с бюджетным <br>
                    финансированием и являются <br>
                    для них <b>бесплатными.</b><br>
                    Также для приезжих есть<br>
                    возможность воспользоваться <b>нашим <br>
                    стационаром</b>.<br>
                    Плановая госпитализация иногородних<br>
                    граждан на гинекологическое<br> обслуживание
                    осуществляется <b>по <br>предварительной записи.</b>
                    <div class="pink_border_button">
                        <a href="{% url 'services' %}#foreign_button">Подробнее</a>
                    </div>
                </p>
            </div>
            <div class="inner_uslugi_text_content" id="paid_services_mini">
                <h1>Платные услуги</h1>
                <p>
                    В гинекологии диагностика включает в себя ряд <br>
                    методов, которые позволяют выявить причину <br>
                    заболевания и назначить лечение. Диагностика <br>
                    проводится при помощи следующих методов:<br>
                    <br>
                    <b>1. Лабораторная диагностика, включающая в<br>
                    себя следующие методы:</b><br>
                    - общий анализ крови;<br>
                    - мазок на флору;<br>
                    - анализ на вирусные инфекции;<br>
                    <b>2. Инструментальная диагностика.</b><br>
                    При этом используются такие методы как:<br>
                    - ультразвуковое исследование<br>
                    - гистероскопия<br>
                    <b>3. Эндоскопическая диагностика</b><br>
                    <b>4. Рентгенологическая диагностика</b><br>
                    <div class="pink_border_button">
                        <a href="{% url 'paid_services' %}">Подробнее</a>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div class="doctors_content column">
        <div class="doctors_text">
            <h1>Наши Специалисты</h1>
            <p>У нас работают настоящие профессионалы, <br>которые найдут с вами общий язык, помогут в любой ситуации <br>и проконсультируют по каждому вопросу.</p><br>
        </div>
        <div class="blue_blur_div">
            <img class="blue_blur" src="{% static 'png/blue_blur.png' %}">
        </div>
        <div id="gallery" class="gallery_div">
            <div id="gallery" class="gallery owl-carousel owl-theme">
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/sokolova222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Соколова Валентина Николаевна</h1>
                          <p>Врач акушер-гинекоолог/p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/frolov222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Фролов Сергей Николаевич</h1>
                          <p>Врач акушер-гинекоолог</p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/klueva222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Клюева Ирина Львовна</h1>
                          <p>Врач акушер-гинекоолог</p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/lobkova222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Лобкова Ольга Николаевна</h1>
                          <p>Врач акушер-гинекоолог</p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/manukyan222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Манукян Галина Александровна</h1>
                          <p>Врач акушер-гинекоолог</p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/pisarev222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Писарев Николай Михайлович</h1>
                          <p>Врач реаниматолог-анестезиолог/p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/ivanova222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Иванова Мария Петровна</h1>
                          <p>Врач акушер-гинекоолог</p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/kurbatov222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Курбатов Дмитрий Сергеевич</h1>
                          <p>Врач акушер-гинекоолог</p>
                        </div>
                      </article>
                </div>
                <div class="carousel-inner">
                    <article class="article article-style-b">
                        <div class="article-header">
                          <div class="article-image">
                            <img class="item" src="{% static 'png/mishurova222px.png' %}">
                          </div>
                        </div>
                        <div class="article-details">
                          <h1>Мишурова Анна Юрьевна</h1>
                          <p>Врач акушер-гинекоолог</p>
                        </div>
                      </article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pink_border_button">
                <a href="{% url 'doctors' %}">Посмотреть всех</a>
            </div>
        </div>
    </div>
    <div class="answers_background">
        <div class="answers_content row">
            <div class="answers_title">
                <h1>Ответы на вопросы</h1>
            </div>
            <div class="answers_details row">
    
                <div class="answers_questions">
                    <div class="question">
                        <div class="question_for_answer">
                            <h1>Можно ли самостоятельно принимать противозачаточные средства?</h1>
                            <img class="plus" src="{% static 'svg/plus.svg' %}">
                            <img class="minus" src="{% static 'svg/minus.svg' %}">
                        </div>
                        <div class="answer">
                            <p>Принимать гормональные контрацептивы можно только по назначению <br>
                                врача. Самостоятельный выбор гормональных препаратов может <br>
                                привести к риску возникновения побочных эффектов и подорвать <br>
                                женское здоровье. Оральные контрацептивы может правильно подобрать<br>
                                 и выписать только гинеколог или гинеколог-эндокринолог.</p>
                        </div>
                    </div>
                    <div class="question">
                        <div class="question_for_answer">
                            <h1>Что значит, когда в цикле не было овуляции?</h1>
                            <img class="plus" src="{% static 'svg/plus.svg' %}">
                            <img class="minus" src="{% static 'svg/minus.svg' %}">
                        </div>
                        <div class="answer">
                            <p>Причинами здесь могут выступать: гормональный дисбаланс, <br>
                                вызванный эндокринными патологиями (гипофиза, щитовидной <br>
                                железы), заболеваниями органов репродуктивной системы <br>
                                (эндометриоз, поликистоз яичников) и т. д.</p>
                        </div>
                    </div>
                    <div class="question">
                        <div class="question_for_answer">
                            <h1>Оптимальное время для посещения гинеколога?</h1>
                            <img class="plus" src="{% static 'svg/plus.svg' %}">
                            <img class="minus" src="{% static 'svg/minus.svg' %}">
                        </div>
                        <div class="answer">
                            <p>Лучше всего идти на прием к гинекологу в первой половине цикла, <br>
                                через несколько дней после того, как менструация закончится <br>
                                и кровянистые выделения полностью прекратятся. Если месячные <br>
                                у женщины длятся стандартных 5–6 дней, визит к врачу можно <br>
                                планировать на 8 – 12 день цикла.</p>
                        </div>
                    </div>
                    <div class="question">
                        <div class="question_for_answer">
                            <h1>Что нужно взять с собой на прием?</h1>
                            <img class="plus" src="{% static 'svg/plus.svg' %}">
                            <img class="minus" src="{% static 'svg/minus.svg' %}">
                        </div>
                        <div class="answer">
                            <p>С собой нужно взять следующий перечень документов:<br>
                                Паспорт;<br>
                                Результаты всех анализов или осмотров, которые <br>
                                проводились за последние полгода до приема;<br>
                                Предыдущий осмотр врача-гинеколога и результат УЗИ, если они есть;<br>
                                Список вопросов, которые нужно задать врачу.<br>
                                Также можно взять блокнот с ручкой и чистые носки.<br>
                            </p>
                        </div>
                    </div>
                    <div class="question">
                        <div class="question_for_answer">
                            <h1>Сколько лет можно использовать внутриматочную спираль?</h1>
                            <img class="plus" src="{% static 'svg/plus.svg' %}">
                            <img class="minus" src="{% static 'svg/minus.svg' %}">
                        </div>
                        <div class="answer">
                            <p>Поставить спираль гинеколог может на срок от 3х до 5ти лет, <br>
                                а удаление внутриматочной спирали можно произвести <br>
                                в любой момент.</p>
                        </div>
                    </div>
                    <div class="question">
                        <div class="question_for_answer">
                            <h1>С какого возраста женщина должна регулярно посещать гинеколога?</h1>
                            <img class="plus" src="{% static 'svg/plus.svg' %}">
                            <img class="minus" src="{% static 'svg/minus.svg' %}">
                        </div>
                        <div class="answer">
                            <p>В первый раз рекомендуется прийти на осмотр планово после первой <br>
                                менструации (14-15 лет) или после начала интимной жизни. <br>
                                Если девушка испытывает неприятные ощущения или имеет <br>
                                необычные выделения, ей также следует записаться <br>
                                к гинекологу на первый прием.</p>
                        </div>
                    </div>
                </div>
                <div class="answers_add">
                    <div class="one_answers_add">
                        <p style="color: #FF6692;">Нет ответа на ваш вопрос?</p>
                        <p style="color: white;">Задайте его и получите<br>
                            ответ в ближайшее время</p>
                        <div class="ask_button navbar_button pink_button" id="ask_button" style="background-color: #FF6692;">
                            <a>Задать вопрос</a>
                        </div>
                    </div>
                    <div class="second_answers_add">
                        <p style="color: white;">А также запишитесь <br>
                            на прием и узнайте <br>
                            всю информацию <br>
                            о конкретно вашем <br>
                            случае</p>
                            <div class="recall_button navbar_button pink_button" id="recall_button3" style="background-color: #FF6692;">
                                <a>Записаться на прием</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ask_question_content">
        <div class="ask_question row">
            <h1>Задать вопрос</h1>
            <div class="ask_question_form column">
                <form  class="ask_question_form" id='ask_question_form_home' method="POST" action="{% url 'home' %}"enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="form_type" value="formTwo">
                        <div class="row window_ask"> 
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="ask_modal_firstname" placeholder="Имя"  required=True>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="ask_modal_mail" placeholder="E-mail" required=True pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                        </div>
                        <div class="row window_ask"> 
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="ask_modal_lastname" placeholder="Фамилия"  required=True>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="ask_modal_phone" placeholder="Телефон" required=True pattern="[0-9.)(+-]{4,20}$">
                            </div>
                        </div>
                        <div class="row window_ask"> 
                            <div class="col-lg-12">
                                <textarea type="text" class="form-control" name="ask_modal_message" placeholder="Сообщение" required=True></textarea>                          
                            </div>
                        </div>
                    </div>
                    <div class="row window_ask"> 
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-check confidentional_check">
                                <input class="form-check-input" type="checkbox" value="" id="ask_modal_confidentional_check"required="True">
                                <p>Нажимая на кнопку, вы даете согласие на обработку персональных 
                                    данных и соглашаетесь с Политикой конфиденциальности</p>
                            </div>                        
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 window_ask_button">
                            <div class="navbar_button pink_button" style="background-color: #FF6692;">
                                <div class="ask_button">
                                    <input type="submit" value="Задать вопрос" form="ask_question_form_home" class="navbar_button pink_button" name="send_ask_form"/>
                                </div>  
                            </div>                       
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ask_image_div">
            <img class="ask_image" src="{% static 'png/ask_image.png' %}">
        </div>
    </div>
</div>
{% endblock %}    

{% block custom_js %}
<script src="{% static '/js/main.js' %}"></script>
{% endblock custom_js %}