{% extends 'main_template.html' %}
{% load static %}

{% block custom_css %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/page.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/modal.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/for_clients.css' %}">


{% endblock custom_css %}
{% block title %}
О больнице
{% endblock title %}
{% block content %}
<div class="wrapper">
    <div class="article_fon">
        <div class="article_window">
            <div class="article_title">
                <h1>Адрес</h1>
            </div>
            <div class="article_text">
                <p style="text-indent:initial; margin-bottom: 30px;">ОГБУЗ «Старооскольская окружная больница Святителя Луки Крымского»<br><br>

                    309500, Белгородская область, г. Старый Оскол, ул. Ублинские горы, д. 1а<br>
                </p>
                <div class="yandex_map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab7fa48c22a72ba3d586f2b9ec489a5fb4c9398045d6301571dc4181a0022d2f0&amp;width=100%&amp;height=360&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
            <div class="article_title">
                <h1>Виды медицинской деятельности в ОГБУЗ «Старооскольской окружной больнице Святителя Луки Крымского»</h1>
            </div>
            <div class="hospital_services">
                <div class="title_services">
                </div>
                <div class="center_services">
                    <div class="leftcenter_services white">
                        <a>Акушерское дело</a>
                        <a>Аллергология и иммунология</a>
                        <a>Бактериология</a>
                        <a>Гастроэнтерология</a>
                        <a>Гериатрия</a>
                        <a>Гистология</a>
                        <a>Детская кардиология</a>
                        <a>Детская хирургия</a>
                        <a>Диетология</a>
                        <a>Кардиология</a>
                        <a>Колопроктология</a>
                        <a>Лечебное дело</a>
                        <a>Лечебная физкультура и <br>спортивная медицина</a>
                        <a>Медицинская статистика</a>
                        <a>Неврология</a>
                        <a>Неонатология</a>
                        <a>Нефрология</a>
                        <a>Общая врачебная практика (семейная медицина)</a>
                        <a>Операционное дело</a>
                        <a>Организация сестринского дела</a>
                        <a>Офтальмология</a>
                        <a>Педиатрия</a>
                        <a>Психиатрия</a>
                        <a>Психиатрия-наркология</a>
                        <a>Ревматология</a>
                        <a>Рефлексотерапия</a>
                        <a>Сестринское дело в педиатрии</a>
                        <a>Стоматология</a>
                        <a>Стоматология терапевтическая</a>
                        <a>Терапия</a>
                        <a>Травматология и ортопедия</a>
                        <a>Ультразвуковая диагностика</a>
                        <a>Урология</a>
                        <a>Функциональная диагностика</a>
                        <a>Хирургия</a>
                        <a>Эндоскопия</a>
                        <a>Проведение медицинских осмотров, <br>
                            медицинских освидетельствований и <br>
                            медицинских экспертиз</a>
                            <a>Осуществление фармацевтической деятельности</a>
                    </div>
                    <div class="rightcenter_services white">
                        <a>Акушерство и гинекология</a>
                        <a>Анестезиология и реаниматология</a>
                        <a>Вакцинация</a>
                        <a>Гематология</a>
                        <a>Гигиеническое воспитание</a>
                        <a>Дерматовенерология</a>
                        <a>Детская урология-андрология</a>
                        <a>Детская эндокринология</a>
                        <a>Инфекционные болезни</a>
                        <a>Клиническая лабораторная диагностика</a>
                        <a>Лабораторная диагностика</a>
                        <a>Лечебная физкультура</a>
                        <a>Мануальная терапия</a>
                        <a>Медицинский массаж</a>
                        <a>Нейрохирургия</a>
                        <a>Неотложная медицинская помощь</a>
                        <a>Общая практика</a>
                        <a>Онкология</a>
                        <a>Организация здравоохранения и общественное здоровье</a>
                        <a>Оториноларингология</a>
                        <a>Патологическая анатомия</a>
                        <a>Профпатология</a>
                        <a>Психотерапия</a>
                        <a>Пульмонология</a>
                        <a>Рентгенология</a>
                        <a>Сестринское дело</a>
                        <a>Скорая, в том числе скорая <br>специализированная медицинская помощь</a>
                        <a>Стоматология ортопедическая</a>
                        <a>Стоматология профилактическая</a>
                        <a>Токсикология</a>
                        <a>Трансфузиология</a>
                        <a>Управление сестринской деятельностью</a>
                        <a>Физиотерапия</a>
                        <a>Челюстно-лицевая хирургия</a>
                        <a>Эндокринология</a>
                        <a>Эпидемиология</a>
                        <a>Деятельность по обороту наркотических средств,<br> психотропных веществ и их прекурсоров,<br> культивированию наркосодержащих растений</a>
                    </div>
                </div>
                <div class="right_services"></div>
            </div>
        </div>
    </div>
    <div class="have_question row">
        <p>Если у вас остались вопросы,<br>
            воспользуйтесь нашими услугами
        </p>
        <div class="banner_button_div row">
            <div class=" recall_button pink_noborder_button" id="recall_button2">
                <a>Записаться на прием</a>
            </div>
            <div class="ask_button white_border_button" id="ask_button">
                <a>Задать вопрос</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static '/js/page.js' %}"></script>
{% endblock custom_js %}