{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
{% endblock custom_css %}

{% block content %}
<div class="navbar">
    <div>
        <a href="http://sob.belzdrav.ru">
            <div class="navbar_text hospital_text">
                <p style="font-weight: 200;">Старооскольcкая окружная больница</p>
                <p style="font-weight: 500;">Светителя Луки Крымского</p>
            </div>
        </a>
    </div>

    <div class="navbar_with_svg">
        <img class="img_nav" src="{% static 'png/phone.png' %}">
        <div class="navbar_text">
            <a href="tel:+74725123456">
                <p style="font-weight: 200; cursor: pointer;">+ 7 (4725) 12-34-56</p>
            </a>
            <a href="tel:+79012345678">
                <p style="cursor: pointer;">+ 7 (901) 234-56-78</p>
            </a>
        </div>
    </div>

    <div class="navbar_with_svg">
        <img class="img_nav" src="{% static 'png/clock.png' %}">
        <div class="navbar_text">
            <p style="font-weight: 200;">время работы</p>
            <p style="font-weight: 500;">круглосуточно</p>
        </div>
    </div>

    <div class="navbar_with_svg">
        <img class="img_nav" src="{% static 'png/geo.png' %}">
        <div class="navbar_text">
            <p style="font-weight: 200;">г. Старый Оскол</p>
            <p style="font-weight: 500;">ул. Ублинские горы, д. 1а</p>
        </div>
    </div>
</div>
<div class="navbar_otd">
    <div class="navbar_with_svg">
        <a href="{% url 'home' %}">
            <img class="img_nav" src="{% static 'png/logo.png' %}">
        </a>
        <a href="{% url 'home' %}">
            <div class="navbar_text">
                <p class="logo_text_small" style="font-weight: 300;">Отделение</p>
                <p class="logo_text_big" style="font-weight: 600;">Гинекологии</p>
            </div>
        </a>
    </div>
    <div class="navbar_button white_button">
        <a href="{% url 'diagnostics' %}">Диагностика</a>
    </div>
    <div class="navbar_button white_button">
        <a href="{% url 'for_clients' %}">Пациентам</a>
    </div>
    <div class="navbar_button white_button">
        <a href="{% url 'department' %}">Об отделении</a>
    </div>
    <div class="navbar_button white_button">
        <a href="{% url 'hospital' %}">О больнице</a>
    </div>
    <div class="navbar_button white_button">
        <a href="{% url 'contacts' %}">Контакты</a>
    </div>
    <div class="navbar_button white_button">
        <a href="{% url 'services' %}">Услуги</a>
    </div>
    <div class="navbar_button white_button">
        <a href="{% url 'doctors' %}">Врачи</a>
    </div>
    <div class="navbar_button pink_button recall_button" id="recall_button">
        <a>Записаться к врачу</a>
    </div>
</div>
{% endblock %}