{% extends 'main_template.html' %}
{% load static %}

{% block custom_css %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/page.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/modal.css' %}">
{% endblock custom_css %}
{% block title %}
{% endblock title %}
{% block content %}
<div class="wrapper">
    <div class="articles row">
        <div class="articles_title">
            <h1>Какие услуги мы предоставляем?</h1>
        </div>
        <div class="articles_types row">
            <div class="pink_border_button">
                <a href="{% url 'services' %}#gynecology_operation_button">Гинекологические операции</a>
            </div>
            <div class="pink_border_button">
                <a href="{% url 'services' %}#diagnostica_button">Диагностика</a>
            </div>
            <div class="pink_border_button">
                <a href="{% url 'services' %}#soprovogdenie_button">Сопровождение клиента</a>
            </div>
            <div class="pink_border_button">
                <a href="{% url 'services' %}#consultation_button">Консультации</a>
            </div>
            <div class="pink_border_button">
                <a href="{% url 'services' %}#stationary_button">Услуги стационара</a>
            </div>
            <div class="pink_border_button">
                <a href="{% url 'services' %}#gynecology_services_button">Гинекологические услуги</a>
            </div>
            <div class="pink_border_button">
                <a href="{% url 'services' %}#very_help_button">Экстренная помощь</a>
            </div>
            <div class="pink_border_button">
                <a href="{% url 'services' %}#foreign_button">Для иногородних</a>
            </div>
        </div>
    </div>
    {% block content2 %}
    {% endblock content2 %}
    <div class="have_question row">
        <p>Если у вас остались вопросы,<br>
            воспользуйтесь нашими услугами
        </p>
        <div class="banner_button_div row">
            <div class="recall_button pink_noborder_button" id="recall_button2">
                <a>Записаться на прием</a>
            </div>
            <div class="ask_button white_border_button" id="ask_button">
                <a>Задать вопрос</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static '/js/page.js' %}"></script>
{% endblock custom_js %}

{% block custom_js2 %}
<script src="{% static '/js/modal.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>
<script>
    if (document.querySelectorAll('.data_sent_content')[0]) {
    document.querySelectorAll('.data_sent_close')[0].addEventListener('click', function () {
        document.querySelectorAll('.data_sent_content')[0].style.display = 'none';
    })
}
  </script>
  <script>
    //делает капчу обязательной
    window.onload = function() {
    var $recaptcha = document.querySelector('#g-recaptcha-response');
    if($recaptcha) {
        $recaptcha.setAttribute("required", "required");
    }
};
  </script>
  <SCRIPT type="text/javascript"> 
  //передает значение капчи в инпут
    function onHuman(response) { 
     if (document.getElementById('capcha_content_msg')){
        document.getElementById('captcha').value = response; 
        if (document.getElementById('captcha').value != 0) {
            document.getElementById('capcha_form').submit();
      }
     }
     if (document.getElementById('capcha_content_rcl')){
      document.getElementById('captcha2').value = response; 
      if (document.getElementById('captcha2').value != 0) {
        document.getElementById('capcha_form2').submit();
      }
    }
    } 
  </SCRIPT>
  {% endblock custom_js2 %}