{% extends 'main_template.html' %}
{% load static %}

{% block custom_css %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/page.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/modal.css' %}">

{% endblock custom_css %}
{% block title %}
Услуги
{% endblock title %}
{% block content %}
<div class="wrapper">
    <div class="articles row">
        <div class="articles_title">
            <h1>Какие услуги мы предоставляем?</h1>
        </div>
        <div class="articles_types row">
            <div class="pink_border_button">
                <a href="#gynecology_operation_button">Гинекологические операции</a>
            </div>
            <div class="pink_border_button">
                <a href="#diagnostica_button">Диагностика</a>
            </div>
            <div class="pink_border_button">
                <a href="#soprovogdenie_button">Сопровождение клиента</a>
            </div>
            <div class="pink_border_button">
                <a href="#consultation_button">Консультации</a>
            </div>
            <div class="pink_border_button">
                <a href="#stationary_button">Услуги стационара</a>
            </div>
            <div class="pink_border_button">
                <a href="#gynecology_services_button">Гинекологические услуги</a>
            </div>
            <div class="pink_border_button">
                <a href="#very_help_button">Экстренная помощь</a>
            </div>
            <div class="pink_border_button">
                <a href="#foreign_button">Для иногородних</a>
            </div>
        </div>
    </div>
    <div id="gynecology_services_button" class="gynecology_services">
        <div class="title_services">
            <h1>ГИНЕКОЛОГИЧЕСКИЕ<br>УСЛУГИ</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services white">
                <a>Диатермокоагуляция шейки матки</a>
                <a>Наложение швов на шейку матки</a>
                <a>Удаление инородного тела из влагалища</a>
                <a>Полипэктомия</a>
                <a>Парацервикальная анестезия</a>
                <a>Удаление внутриматочной спирали</a>
                <a>Бужирование цервикального канала</a>
                <a>Лечение вульвовагинита</a>
                <a>Раздельное диагностическое
                    выскабливание полости матки</a>
            </div>
            <div class="rightcenter_services white">
                <a>Биопсия яичника</a>
                <a>Получение цервикального мазка</a>
                <a>Пайпель-услуга</a>
                <a>Зондирование матки</a>
                <a>Тампонирование лечебное влагалища</a>
                <a>Введение внутриматочной спирали</a>
                <a>Послеоперационная обработка шейки матки</a>
                <a>Ведение пациентки врачом-гинекологом
                    при гистеросальпингографии</a>
                <a>Раздельное диагностическое
                    выскабливание цервикального канала</a>
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div id="gynecology_operation_button" class="gynecology_services pink">
        <div class="title_services">
            <h1>ГИНЕКОЛОГИЧЕСКИЕ<br>ОПЕРАЦИИ</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services pink">
                <a href="services/hysteroscopy">Гистероскопия (экстренная)</a>
                <a>Гистерорезектоскопия</a>
                <a>Рассечение и иссечение спаек женских 
                    половых органов с использованием 
                    видеоэндоскопических технологий</a>
                <a>Раздельное диагностическое  
                    выскабливание полости матки (экстренное)</a>
                <a>Субтотальная гистерэктомия (ампутация 
                    матки) с придатками лапаротомическая</a>
                <a>Оофорэктомия с использованием 
                    видеоэндоскопических технологий</a>
                <a>Сальпинго-оофорэктомия с использованием 
                    видеоэндоскопических технологий</a>
                <a>Резекция контралатерального яичника, 
                    большого сальника лапаротомическая</a>
                <a>Медицинские аборты до 12 недель 
                    беременности</a>
                <a>Удаление кисты яичников</a>
                <a>Сальпингэктомия с использованием 
                    видеоэндоскопических технологий</a>
            </div>
            <div class="rightcenter_services pink">
                <a>Резекция яичника лапаротомическая</a>
                <a href="services/laparoscopy">Лапароскопия</a>
                <a>Удаление параовариальной кисты 
                    с использованием видеоэндоскопических 
                    технологий</a>
                <a>Раздельное диагностическое выскабливание 
                    полости матки (половое)</a>
                <a>Операции при опущении задней стенки 
                    влагалища</a>
                <a>Операции при опущении передней стенки 
                    влагалища</a>
                <a>Миомэктомия (энуклеация мноматозных 
                    узлов) лапаротомическая</a>
                <a>Стерилизация маточных труб 
                    лапаротомическая</a>
                <a>Лапароскопическая тубэктомия 
                    односторонняя</a>
                <a>Пластика шейки матки</a>
                <a>Надвлагалищная ампутация матки 
                    с придатками</a>
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div id="diagnostica_button" class="gynecology_services diagnostic">
        <div class="title_services">
            <h1>ДИАГНОСТИКА</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services white">
                <a>Осмотр специалистом</a>
                <a>Ультразвуковая диагностика</a>
                <a>Эндоскопия</a>
                <a>Рентгенография</a>
            </div>
            <div class="rightcenter_services white">
                <a>Функциональная диагностика</a>
                <a>Магнитно-резонансная томография</a>
                <a>Компьютерная томография</a>
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div id="soprovogdenie_button" class="gynecology_services soprovogdenie">
        <div class="title_services">
            <h1>СОПРОВОЖДЕНИЕ<br>КЛИЕНТА</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services soprovogdenie">
                <p>- Постоянное нахождение медсестры возле пациента и контроль;<br>
                    за состоянием больного;<br>
                    - Контроль за приемом медицинских препаратов;<br>
                    - Помощь в гигиенических процедурах, как пример, купание;<br>
                    - Кормление;<br>
                    - Проведение мероприятий в избежание возникновения пролежней,<br>
                    профилактическая и лечебная обработка кожи;<br>
                    - Дыхательной гимнастики с пациентом, релаксирующий<br>
                    массаж и физкультура;
                    - Замена средств личной гигиены, как пример подгузников;
                </p>
            </div>
            <div class="rightcenter_services">
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div id="consultation_button" class="gynecology_services pink">
        <div class="title_services">
            <h1>КОНСУЛЬТАЦИИ</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services soprovogdenie pink">
                <p>Консультация врача акушера-гинеколога требуется при появлении следующих симптомов:<br>
                    - Нарушения менструального цикла;<br>	
                    - Подозрение на беременность;<br>
                    - Дискомфорт и болезненность в процессе полового акта или после него;<br>	
                    - Выделения из половых путей;<br>
                    - Проблемы с зачатием, вынашиванием;<br>
                    - Сыпь на половых органах;<br>
                    - Сухость и зуд влагалища;<br>
                    - Кровотечения, появляющиеся не в период менструаций (в середине цикла, до или после него);<br>
                    - Сексуальные расстройства;<br>
                    - Болезненные, затяжные менструации, их отсутствие.
                </p>
            </div>
            <div class="rightcenter_services">
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div id="stationary_button" class="gynecology_services stationary">
        <div class="title_services">
            <h1>УСЛУГИ<br>
                СТАЦИОНАРА</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services stationary">
                <p>- Комфортные условия дневного стационара гинекологического профиля<br>
                    - Конфиденциальность пребывания<br>
                    - Диетическое питание<br>
                    - Всесторонний контроль состояния<br>
                    - Благоприятный условия для прогулок и свежий воздух<br>
                    - Возможность для быстрого выявления патологий<br>
                    - Удобные часы посещения для друзей и близких<br>
                    - Круглосуточное наблюдение и уход<br>
                    - Консультации всех необходимых специалистов
                </p>
            </div>
            <div class="rightcenter_services">
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div id="very_help_button" class="gynecology_services pink">
        <div class="title_services">
            <h1>ЭКСТРЕННАЯ<br>
                ПОМОЩЬ</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services soprovogdenie pink">
                <p>Заболевания, требующие экстренного вмешательства:<br>
                    - Внематочная беременность<br>
                    - Разрыв маточных труб, вызванных внематочной беременностью<br>
                    - Внутреннее кровотечение<br>
                    - Разрыв кисты яичников<br>
                    - Внутреннее и наружнее повреждение половых органов<br>
                    - Острые заболевания органов малого таза<br>
                    - Заворот маточных труб, яичников или миоматозных узлов матки<br>
                    - Выкидыш<br>
                    - Замершая беремененность
                </p>
            </div>
            <div class="rightcenter_services">
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div id="foreign_button" class="gynecology_services soprovogdenie inogoroda">
        <div class="title_services">
            <h1>ДЛЯ <br>
                ИНОГОРОДНИХ</h1>
        </div>
        <div class="center_services">
            <div class="leftcenter_services soprovogdenie">
                <p>Все виды помощи иногородним пациентам осуществляются в соответствии<br>
                    с бюджетным финансированием и являются для них бесплатными.<br>
                    Госпитализация иногородних пациентов проводится при наличии мест<br>
                    в стационаре и дополнительно согласовывается с главным в врачом.<br>
                    Необходимо иметь при себе анализы, результаты обследований и документы:<br>
                    паспорт, СНИЛС и полис ОМС.
                </p>
            </div>
            <div class="rightcenter_services">
            </div>
        </div>
        <div class="right_services"></div>
    </div>
    <div class="have_question row">
        <p>Если у вас остались вопросы,<br>
            воспользуйтесь нашими услугами
        </p>
        <div class="banner_button_div row">
            <div class="recall_button pink_noborder_button" id="recall_button2">
                <a>Записаться на прием</a>
            </div>
            <div class="ask_button white_border_button" id="ask_button">
                <a>Задать вопрос</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static '/js/page.js' %}"></script>
{% endblock custom_js %}