.banner_page {
    display: flex; flex-direction: column; 
    height: 400px; width: 1100px; margin-left: auto; margin-right: auto;
    justify-content: center; margin-bottom: 50px;
}

.banner_page_img {
    width: 100%; height: fit-content; object-fit: contain; position: relative; z-index: -1; margin: auto; top: 0; left: 0; right: 0;
}

.banner_text_div {
    position: absolute; width: 550px; height: fit-content;
    background: rgba(0, 187, 255, 0.6); margin-left: 0; padding-left: 50px; color: white; padding-top: 30px; padding-bottom: 30px;
}
.banner_button_div {
    margin-left: 0px;
}
.banner_button_div .pink_noborder_button{
    margin-right: 20px;
}
.text_page {
    display: flex; flex-direction: row; justify-content: center;
}
.text_page_only_text {
    display: flex; width: 900px; height: fit-content;  flex-wrap: wrap;text-align: justify;
    text-justify: inter-word;
}
.text_page_only_text p{
    font-size: 12px; 
}
.text_page_with_img{
    display: flex; width: 900px; height: fit-content; flex-wrap: nowrap; padding-bottom: 25px;
}
.text_page_text{
    display: flex; width: 400px; height: fit-content; flex-wrap: wrap;text-align: justify;
    text-justify: inter-word;
}
.text_page_text p{
    font-size: 12px; 
}
.text_page_img {
    width: 400px; height: auto; border-radius: 25px;
}
.have_question {
    display: flex; flex-direction: row; justify-content: center; width: 1100px; height: fit-content;
    margin-left: auto; margin-right: auto; text-align: center; padding-top: 50px; padding-bottom: 50px;
}
.have_question p{
    font-size: 20px; font-weight: 300;
}
.have_question .banner_button_div{
    justify-content: center;
}
.have_question .banner_button_div .pink_noborder_button{
    color: white; background-color: #FF5C8B; border-color: #FF5C8B;
}
.have_question .banner_button_div .white_border_button{
    color: #FF5C8B; background-color: white; border-color: #FF5C8B;
}
.have_question .banner_button_div .white_border_button:hover{
    color: white; background-color: #00CCFF; border-color: #00CCFF;
}
.white_button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid; border-color: black;
}