{% extends 'services_template.html' %}
{% load static %}
{% block custom_css %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/page.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/modal.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/for_clients.css' %}">
{% endblock custom_css %}
{% block title %}
Лапароскопия
{% endblock title %}
{% block content2 %}
<div class="article_fon">
    <div class="article_window">
        <div class="article_title">
            <h1>Лапароскопия</h1>
        </div>
        <div class="article_text">
            <p> Малоинвазивные методы используются в хирургии все чаще ввиду возможности снизить риски возникновения осложнений во время операции и сократить реабилитационный период. В гинекологии малоинвазивные операции применяются все чаще с целью сохранения репродуктивных функций женщины. Именно поэтому хирурги все чаще отдают предпочтение лапароскопии — оперативному вмешательству через небольшие проколы или разрезы в стенке брюшины.  </p><br>
            <p> Лапароскопия — это современный способ хирургического вмешательства, который не требует полостного разреза тканей. Все манипуляции проводятся через небольшие (не более 1,5-2 см) разрезы. Нередко процесс называют «операцией через замочную скважину», так как диапазон движений хирурга ограничен. Наиболее часто применяется подобный метод при патологиях внутренних органов брюшной и тазовой полости.  </p>
            <p> Лапароскопия рассматривается не только как оперативное лечение. Довольно часто ее используют как диагностический метод.   </p>
            <p> Лапароскопия используется и как диагностический метод (МРТ и УЗИ не всегда информативны).  </p>
            <p> Подготовка пациентки стандартная: сдача анализов, очищение кишечника, введение успокоительных препаратов за сутки до хирургического вмешательства.   </p>
            <p> Операция проводится под общим наркозом. Для введения инструментов делают 3-4 прокола в разных местах брюшной полости. Для обеспечения доступа к органу в полость нагнетают углекислый газ. Через остальные проколы вводят камеру с осветительным прибором, соединенную с монитором, хирургические инструменты.  </p>
            <p> Преимущества лапароскопии по удалению кисты яичника:</p>
            <p>•	минимальный уровень травматизма;</p>
            <p>•	сокращенные сроки реабилитации;</p>
            <p>•	эстетичные швы;</p>
            <p>•	отсутствие осложнений во время операции</p>.
        </div>
    </div>
</div>
{% endblock content2 %}

{% block custom_js2 %}
{% endblock custom_js2 %}